---
import Layout from '../layouts/Layout.astro';
import PlayersGrid from '../components/PlayersGrid.tsx';
---

<Layout title="La Liga Menorca">
	<main class="main-wrapper">
		<h1 class="text-4xl text-gray-100 pt-8">La Liga Menorca</h1>
		<h2 class="text-2xl text-gray-200 pt-4">Panxes Rotges</h2>
		<PlayersGrid client:load />
	</main>
</Layout>

<style>
	.main-wrapper {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: center;
	}
</style>
