<div class="w-full flex flex-col xl:flex-row justify-between py-10 text-xl">
  <p>
    <span class="text-white font-bold">PJ:</span>
    <span class="text-gray-400 italic">Partidos jugados</span>
  </p>
  <p>
    <span class="text-white font-bold">PG:</span>
    <span class="text-gray-400 italic">Partidos ganados</span>
  </p>
  <p>
    <span class="text-white font-bold">PP:</span>
    <span class="text-gray-400 italic">Partidos perdidos</span>
  </p>
  <p>
    <span class="text-white font-bold">SG:</span>
    <span class="text-gray-400 italic">Sets ganados</span>
  </p>
  <p>
    <span class="text-white font-bold">SP:</span>
    <span class="text-gray-400 italic">Sets perdidos</span>
  </p>
  <p>
    <span class="text-white font-bold">JG:</span>
    <span class="text-gray-400 italic">Juegos ganados</span>
  </p>
</div>
